<h1>新規投稿する</h1>
<%= form_for (@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @note.errors.count %>件のエラー:</h2>

      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  タイトル
  <!-- 以下のtext_field_tagをf.text_fieldを用いて書き換えてください -->
  <%= text_field_tag 'note[title]', @note.title, class: "form-control title-field" %>
  内容
  <!-- 以下のtext_area_tagをf.text_areaを用いて書き換えてください -->
  <%= text_area_tag 'note[content]', @note.content, class: "form-control content-field" %>
  <!-- 以下のtext_area_tagをf.submit -->
  <input type="submit" value="投稿する" class="btn primary-btn">
<% end %>